:root { 
    --almond: #eddcd2;
    --black: #000000;
    --tallow: #a5a58d;
    --white: #ffffff;
   
    --font-size-l: 25px;
    --font-size-m: 20px;
    --font-size-xl: 40px;
    --font-size-xxl: 55px;
   
    --font-family-esteban: "Esteban", Helvetica;
    --font-family-montserrat: "Montserrat", Helvetica;
  }
  .montserrat-bold-black-25px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-normal-black-25px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
  }